{% extends 'index.html' %}

{% block body %}

{% if resultado != '' %}
  {{resultado}}
{% endif %}

<h5>Cadastro de Alunos</h5>
        <hr>
        <form action="/admin/cadastrar-aluno" method="POST">
            <div class="form-row">              
                <div class="form-group col-md-1">
                  <label for="id-aluno">Moodle ID</label>
                  <input type="text" name="moodleID" class="form-control" id="id-aluno">
                </div>
                <div class="form-group col-md-6">
                  <label for="nome-aluno">Nome</label>
                  <input type="text" name="name" class="form-control" id="nome-aluno">
                </div>
                <div class="form-group col-md-3">
                  <label for="data-matricula">Data Matricula</label>
                  <input type="date" name="date" class="form-control" id="data-matricula">
                </div>
                <div class="form-group col-md-2">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control">
                      <option value="ativo">ATIVO</option>
                      <option value="suspenso">SUSPENSO</option>
                      <option value="inadiplente">INADIPLENTE</option>
                      <option value="outro">OUTRO</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="curso">Curso</label>
                    <select name="course" id="curso" class="form-control">
                      <option value="88">CURSO DE EST</option>
                      <option value="2">CURSO APC UTI</option>
                      <option value="3">CURSO PC TCC</option>
                      <option value="4">CURSO NEURO</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cronograma">Cronograma</label>
                    <select id="inputState" name="cronograma" class="form-control">
                      <option value="6">6x</option>
                      <option value="12">12x</option>
                      <option value="15">15x</option>
                      <option value="18">18x</option>
                      <option value="24">24x</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="observacao">Observações</label>
                <textarea class="form-control" name="observation" id="observacao" rows="3"></textarea>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-outline-danger">Cancelar</button>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </form>
{% endblock %}