<div>
  <h5 class="">Detalhes do Aluno</h5>
  <form class="class="row row-cols-lg-auto g-3"">
    <div class="input-group mb-2 mr-sm-2">

      <div class="input-group-prepend">
        <div class="input-group-text">Pesquisar</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Pesquisar Aluno (Nome, ID Moodle)">
      <button type="submit" class="btn btn-success ml-2">Buscar</button>
    </div>
  </form>
</div>

<hr>

<table class="table table-bordered table-striped">
  <tbody>
    <thead class="thead-light">
    <tr>
      <th scope="col" colspan="4"># Dados do Aluno</th>
    </tr>
  </thead>
    <tr>
      <td colspan="1">
        <span style="font-weight: bold;">
          ID Moodle: 
        </span>
          1208
      </td>
      <td colspan="2">
        <span style="font-weight: bold;">
          Nome: 
        </span>
          Augusto Roberto dos Santos Castro Filho
      </td>
      <td colspan="1">
        <span style="font-weight: bold;">
          Data de Matricula: 
        </span>
          21/06/2022
      </td>
    </tr>
    <tr>
      <td>
        <span style="font-weight: bold;">
          Status: 
        </span>
          Ativo
      </td>
      <td>
        <span style="font-weight: bold;">
          Pendencias: 
        </span>
          Não
      </td>
      <td>
        <span style="font-weight: bold;">
          Quantidade de cursos: 
        </span>
          1
      </td>
      <td>
        <span style="font-weight: bold;">
          Prev. Conclusão: 
        </span>
          28/04/2023
      </td>
    </tr>
    <thead class="thead-light">
      <tr>
        <th scope="col" colspan="4"># Cursos</th>
      </tr>
    </thead>
    <!--Cursos-->
    <tr>
        <th scope="row">ID Curso</th>
        <th scope="row">Nome do Curso</th>
        <th scope="row">QTD. Disciplinas</th>
        <th scope="row">Carga Horária</th>
    </tr>
    <!-- Dados do curso -->
    <tr>
      <th>452</th>
      <td>Pós Engenharia em Segurança do trabalho</td>
      <td>15</td>
      <td>580H</td>
    </tr>
    <!-- Disciplinas e dadas de liberação -->
    <thead class="thead-light">
      <tr>
        <th scope="col" colspan="4"># Disciplinas Liberadas</th>
      </tr>
    </thead>
    <!-- dados dos das discplinas -->
    <tr>
      <th>ID Moodle</th>
      <th>Nome da Disciplina</th>
      <th>Data de Liberação</th>
      <th>Liberado?</th>
    </tr>
    <tr>
      <th>208</th>
      <td>Introdução em Engenharia de Segurança do trabalho</td>
      <td>25/05/2022</td>
      <td>SIM</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Gestão Ambiental</td>
      <td>25/06/2022</td>
      <td>NÃO</td>
    </tr>
  </tbody>
</table>