<div>
  <h5 class="">Detalhes do Cursos</h5>
  <form class="class="row row-cols-lg-auto g-3"">
    <div class="input-group mb-2 mr-sm-2">

      <div class="input-group-prepend">
        <div class="input-group-text">Pesquisar</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Pesquisar Curso">
      <button type="submit" class="btn btn-success ml-2">Buscar</button>
    </div>
  </form>
</div>

<hr>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="row">ID Curso/Cohort</th>
      <th scope="row" colspan="3">Nome do Curso</th>
    </tr>
    <tr>
      <td scope="col">#94 </td>
      <td scope="col" colspan="3">Engenharia em Segurança do Trabalho</td>
    </tr>
  </thead>
  <tbody>
    <thead class="thead-light">
    <tr>
      <th scope="col" colspan="4">#Informações</th>
    </tr>
  </thead>
    <tr>
      <td colspan="2">
        <span style="font-weight: bold;">
          Número de alunos: 
        </span>
        855
      </td>
      <td colspan="1">
        <span style="font-weight: bold;">
          Criado em: 
        </span>
        21/03/2022
      </td>
      <td colspan="1">
        <span style="font-weight: bold;">
          Última Atualização: 
        </span>
        23/05/2022
      </td>
    </tr>
    <tr>
      <td>
        <span style="font-weight: bold;">
          Disponibilidade: 
        </span>
        Ativo
      </td>
      <td>
        <span style="font-weight: bold;">
          Quantidade de Disciplinas: 
        </span>
        18
      </td>
      <td>
        <span style="font-weight: bold;">
          Carga horária: 
        </span>
        580H
      </td>
    </tr>
    <thead class="thead-light">
      <tr>
        <th scope="col" colspan="4"># Disciplinas</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">ID Moodle</th>
      <th scope="row" colspan="2">Nome</th>
      <th scope="row">Carga Horaria</th>
    </tr>
    <tr>
      <th scope="row">452</th>
      <td colspan="2">Introdução a engenharia em segurança do trabalho</td>
      <td>80H</td>
    </tr>
    <tr>
      <th scope="row">1214</th>
      <td colspan="2">Segurança do Trabalho na industria e na Logistica.</td>
      <td>80H</td>
    </tr>
  </tbody>
</table>