<div>
  <h5 class="">Visualizar Cursos</h5>
  <form class="class="row row-cols-lg-auto g-3"">
    <div class="input-group mb-2 mr-sm-2">

      <div class="input-group-prepend">
        <div class="input-group-text">Pesquisar</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Nome ou Curso">
      <button type="submit" class="btn btn-success ml-2">Buscar</button>
    </div>
  </form>
</div>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Status</th>
      <th scope="col">Data Criação</th>
      <th scope="col">Curso</th>
      <th scope="col">Nº Disciplinas</th>
      <th scope="col">Nº Alunos</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">253</th>
      <td>Ativo</td>
      <td>25/08/2021</td>
      <td>Engenharia em Segurança do Trabalho</td>
      <td>15</td>
      <td>358</td>
      <td>
        <button class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">786</th>
      <td>Cancelado</td>
      <td>25/08/2021</td>
      <td>EAtenção ao paciente Critico em UTI</td>
      <td>9</td>
      <td>258</td>
      <td>
        <button class="btn btn-outline-secondary"  alt="Detalhes">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">548</th>
      <td>Suspenso</td>
      <td>25/08/2021</td>
      <td>Atendimento ao paciente politraumatizado</td>
      <td>18</td>
      <td>50</td>
      <td>
        <button class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>